In [1]:
import sys
print(sys.executable)

d:\Flight_Fare_Prediction\env\python.exe

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
data = pd.read_excel(r"D:\Flight_Fare_Prediction\notebooks\data\Data_Train.xlsx")

In [7]:
data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [8]:
data.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [9]:
# getting 5 random sample
data.sample(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
1596,SpiceJet,12/06/2019,Kolkata,Banglore,CCU → PNQ → BLR,08:35,17:15,8h 40m,1 stop,No info,7189
5720,IndiGo,3/03/2019,Delhi,Cochin,DEL → BOM → COK,08:25,21:00,12h 35m,1 stop,No info,14871
5220,SpiceJet,3/05/2019,Banglore,Delhi,BLR → DEL,05:55,08:35,2h 40m,non-stop,No info,3625
3487,Air India,27/05/2019,Delhi,Cochin,DEL → LKO → BOM → COK,12:20,19:15 28 May,30h 55m,2 stops,No info,12488
1812,Multiple carriers,15/05/2019,Delhi,Cochin,DEL → BOM → COK,10:35,19:15,8h 40m,1 stop,No info,7575

In [10]:
# Checking for missing values
data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [11]:
### dropping null values as there are 1-2 only
data.dropna(inplace = True)

In [13]:
data.shape

(10682, 11)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  object
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10682 non-null  object
 6   Arrival_Time     10682 non-null  object
 7   Duration         10682 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10682 non-null  object
 10  Price            10682 non-null  int64
dtypes: int64(1), object(10)
memory usage: 1001.4+ KB

### Data Preprocessing

# Column : Date_of_Journey

- From data.info() we get to know that Date_of_Journey is of object data type, so we are converting it into timestamp.
- Using pandas function : to_datetime
- Not considering year , because the whole data is of same year

In [20]:
## Extracting only day of the date 
data['Day'] = pd.to_datetime(data['Date_of_Journey'], format = "%d/%m/%Y").dt.day

In [21]:
## Extracting only month of the date 
data['Month'] = pd.to_datetime(data['Date_of_Journey'], format = "%d/%m/%Y").dt.month

In [22]:
data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,Day
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,3,24
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,5,1
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,6,9
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,5,12
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,3,1

In [23]:
# dropping Date_of_Journey column as we took out the important aspects within it
# axis = 1 as we are dropping column 
data.drop(['Date_of_Journey'], axis = 1, inplace = True)

# Column : Dep_Time

- From Departure Time, we want to extract Hour and Minutes
- Using pandas function : to_datetime
- Then dropping Dep_Time column

In [27]:
## Extracting Hours 
data['Dep_Hour'] = pd.to_datetime(data['Dep_Time'], format ="%H:%M").dt.hour

## Extracting Minutes 
data['Dep_Min'] = pd.to_datetime(data['Dep_Time'], format= "%H:%M" ).dt.minute

In [28]:
## Dropping Dep_Time Column
data.drop(['Dep_Time'], axis = 1 , inplace = True)

In [29]:
data.head()

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,Day,Dep_Hour,Dep_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,non-stop,No info,3897,3,24,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2 stops,No info,7662,5,1,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,04:25 10 Jun,19h,2 stops,No info,13882,6,9,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,23:30,5h 25m,1 stop,No info,6218,5,12,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,21:35,4h 45m,1 stop,No info,13302,3,1,16,50

# Column : Arrival_Time

- From arrival Time, we want to extract Hour and Minutes, similar to Dep_Time
- The format of 'Arrival_Time' column, have a mix of entries with and without dates.
- So, creating a function that extracts hour & minutes from Arrival_Time, and then applying function to Arrival_Time to create a new columns with extracted hours & minutes. 
- Then dropping Arrival_Time column

In [44]:
## Extracting Hours
data['Arr_Hour'] = data['Arrival_Time'].apply(lambda x: pd.to_datetime(x, errors='coerce').hour)

## Extracting Minutes
data['Arr_Minute'] = data['Arrival_Time'].apply(lambda x: pd.to_datetime(x, errors='coerce').minute)

KeyError: 'Arrival_Time'

In [35]:
## Dropping Arrival_Time Column
data.drop(['Arrival_Time'], axis = 1 , inplace = True)

In [36]:
data.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Month,Day,Dep_Hour,Dep_Min,Arr_Hour,Arr_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,3,24,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,5,1,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,6,9,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,5,12,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,3,1,16,50,21,35

In [45]:

def extract_duration(duration):
    hours = 0
    minutes = 0

    # Split the string based on space and remove any empty parts
    parts = [part.strip() for part in duration.split()]

    for part in parts:
        if 'h' in part:
            hours += int(part.replace('h', ''))
        elif 'm' in part:
            minutes += int(part.replace('m', ''))
        else:
            # If no 'h' or 'm' is present, consider it as hours
            hours += int(part)

    return hours, minutes

# Creating new columns for hours and minutes
data['Duration_Hour'], data['Duration_Min'] = zip(*data['Duration'].apply(extract_duration))

KeyError: 'Duration'

In [46]:
## Dropping Duration Column
data.drop(['Duration'], axis = 1 , inplace = True)

KeyError: "['Duration'] not found in axis"

In [47]:
data.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Month,Day,Dep_Hour,Dep_Min,Arr_Hour,Arr_Minute,Duration_Hour,Duration_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,3,24,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,5,1,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,6,9,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,5,12,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info,13302,3,1,16,50,21,35,4,45

### Handling Categorical Data

## Column : Airline

In [48]:
data['Airline'].value_counts()

Airline
Jet Airways                          3849
IndiGo                               2053
Air India                            1751
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: count, dtype: int64